# .gitignore
# -----------------------------------------------------------------------------
# .gitignore for staging/eds
# -----------------------------------------------------------------------------
# History
# 31/12/2020 Creation ................................................ E. Dumas
# -----------------------------------------------------------------------------

.gitignore~

# file to ignore
build

# end of file