# .gitignore
# -----------------------------------------------------------------------------
# .gitignore for doc/00001-00100
# -----------------------------------------------------------------------------
# History
# 28/02/2023 E. Dumas : creation
# -----------------------------------------------------------------------------

.gitignore~

# file to ignore
.odt

# end of file