# .gitignore
# -----------------------------------------------------------------------------
# .gitignore template for EDS CV lib
# -----------------------------------------------------------------------------
# History
# 14/11/2020 Creation ................................................ E. Dumas
# -----------------------------------------------------------------------------

.gitignore~

# file to ignore

# end of file