# .gitignore
# -----------------------------------------------------------------------------
# .gitignore template for EDS CV lib
# -----------------------------------------------------------------------------
# History
# 14/11/2020 E. Dumas : creation
# -----------------------------------------------------------------------------

.gitignore~

# file to ignore

# end of file