# .gitignore
# -----------------------------------------------------------------------------
# .gitignore for EDS CV lib / lib_src
# -----------------------------------------------------------------------------
# History
# 18/01/2021 Creation ................................................ E. Dumas
# -----------------------------------------------------------------------------

.gitignore~

*.py~
__pycache__


Cargo.lock
target

# end of file
