# .gitignore
# -----------------------------------------------------------------------------
# Confidential file
# -----------------------------------------------------------------------------
# .gitignore for EDS CV lib
# -----------------------------------------------------------------------------
# History
# 10/10/2020 Creation ................................................ E. Dumas
# -----------------------------------------------------------------------------

.gitignore~

*.py~
__pycache__

.project
.pydevproject

# end of file