# .gitignore
# -----------------------------------------------------------------------------
# .gitignore for EDS CV lib
# -----------------------------------------------------------------------------
# History
# 10/10/2020 Creation ................................................ E. Dumas
# -----------------------------------------------------------------------------

.gitignore~

*.py~
__pycache__

# I let each user to determine which IDE use
.project
.pydevproject

# end of file