# .gitignore
# -----------------------------------------------------------------------------
# .gitignore for EDS CV lib
# -----------------------------------------------------------------------------
# History
# 10/10/2020 Creation ................................................ E. Dumas
# 22/11/2020 Add lib_build ........................................... E. Dumas
# -----------------------------------------------------------------------------

.gitignore~

*.py~
__pycache__

# I let each user to determine which IDE use
.project
.pydevproject
.settings

# build dir
lib_build

# end of file
