# .gitignore
# -----------------------------------------------------------------------------
# .gitignore for images/testimages.org/SAMPLING/8BIT/RGB/
# -----------------------------------------------------------------------------
# History
# 02/01/2021 Creation ................................................ E. Dumas
# -----------------------------------------------------------------------------

.gitignore~

600x600

# end of file
