# .gitignore
# -----------------------------------------------------------------------------
# .gitignore for eds_cv_lib/staging/eds/op_morpho
# -----------------------------------------------------------------------------
# History
# 14/11/2020 Creation ................................................ E. Dumas
# -----------------------------------------------------------------------------

.gitignore~

# file to ignore
Cargo.lock
target

# end of file
