# .gitignore
# -----------------------------------------------------------------------------
# .gitignore for EDS CV lib/doc
# -----------------------------------------------------------------------------
# History
# 14/11/2020 Creation ................................................ E. Dumas
# -----------------------------------------------------------------------------

.gitignore~

.~lock.*.fodt#

# end of file
