# .gitignore
# -----------------------------------------------------------------------------
# .gitignore for images/
# -----------------------------------------------------------------------------
# History
# 02/01/2021 Creation ................................................ E. Dumas
# -----------------------------------------------------------------------------

.gitignore~

# file to ignore
*.tar.bz2

5120x2880

# end of file