# .gitignore
# -----------------------------------------------------------------------------
# .gitignore for images/testimages.org
# -----------------------------------------------------------------------------
# History
# 02/01/2021 Creation ................................................ E. Dumas
# -----------------------------------------------------------------------------

.gitignore~

# file to ignore
*.tar.bz2


5120x2880
SAMPLING_PATTERNS


# end of file